/* estilo menu mobile
.btn-abrir-menu {
  display: none;
}
.material-symbols-outlined {
  color: rgb(196, 124, 189);
  font-size: 55px;
}

.btn-abrir-menu {
  background-color: black;
  border: 0;
  padding: 30px 0;
}

.menu-mobile {
  background-color: rgb(4, 0, 0);
  height: 100vh;
  position: fixed;
  top: 0px;
  right: 0;
  z-index: 99999;
  width: 70%;
  width: 0%;
  overflow: hidden;
  transition: 0.2s;
  margin: 20px;
}

.menu-mobile.abrir-menu {
  width: 70%;
}

.menu-mobile.abrir-menu ~ .overlay-menu {
  display: block;
}

.menu-mobile ul {
  text-align: right;
}

.menu-mobile nav ul li a {
  color: #fff;
  font-size: 20px;
  font-weight: 300;
  padding: 20px 8%;
  display: block;
}

.menu-mobile ul li a:hover {
  color: rgb(196, 124, 189);
}

.menu-mobile .btn-fechar {
  font-size: 30px;
  padding: 20px 8%;
  background-color: black;
  border: 0;
}

.overlay-menu {
  background-color: rgba(0, 0, 0, 0.472);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 988;
  display: none;
} */

/* estilo do main */

section.topo-do-site .flex {
  justify-content: center;
  align-items: center;
  padding: 40px 4%;
  gap: 90px;
}

.topo-do-site h1 {
  color: #fff;
  font-size: 60px;
}

/* section sobre mim  */

section.sobre {
  box-shadow: 0 0 40px 10px #ffffff1d;
  padding: 80px 4%;
}

.sobre .flex {
  align-items: center;
  gap: 90px;
}

.sobre .txt-sobre h2 {
  font-size: 45px;
  line-height: 40px;
  margin-bottom: 30px;
}

.sobre .txt-sobre h2 span {
  display: block;
}

.sobre .txt-sobre p {
  margin: 20px 0;
  text-align: justify;
}

@media screen and (max-width: 1220px) {
  /* section sobre mim */

  section.sobre {
    padding: 80px 8%;
  }

  .sobre .txt-sobre h2 {
    font-size: 30px;
    line-height: 35px;
    text-align: center;
  }

  .img-sobre img {
    width: 90%;
  }
  .sobre .txt-sobre p {
    text-align: center;
  }

  .btn-social {
    display: none;
  }
}
